<!DOCTYPE html>
<html>
<head>
    <title>积分兑换申请表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <style>
        .ui-jqgrid-btable tr.jqgrow td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow : ellipsis;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="prodName" class="control-label">产品名称:</label>
                <input type="tel" id="prodName" class="form-control" v-model="q.prodName"
                       @keyup.enter="query" placeholder="产品名称" autocomplete="tel-national">
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label">手机号:</label>
                <input type="tel" id="mobile" class="form-control" v-model="q.mobile"
                       @keyup.enter="query" placeholder="手机号" autocomplete="tel-national">
            </div>
            <br>
            <div style="margin-top: 10px;margin-bottom: 10px">

                <a class="btn btn-default" @click="query">查询</a>
                <a class="btn btn-info" @click="reset">重置</a>
                <a class="btn btn-info" @click="detail">查看详情</a>
                <a v-if="hasPermission('producttype:delete')" class="btn btn-danger" @click="del">
                    <i class="fa fa-trash-o"></i>&nbsp;删除</a>
                <a class="btn btn-success" @click="approveSuccess">审核成功</a>
                <a class="btn btn-danger" @click="approveFailure">审核失败</a>
            </div>
        </form>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">用户手机号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="integralOrder.mobile"
                           placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户身份证号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="integralOrder.idCode"
                           placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">分润金额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="integralOrder.profiMoney"
                           placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户会员等级</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="integralOrder.disLevel"
                           placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">兑换产品名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="integralOrder.prodName"
                           placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">短信内容</div>
                <div class="col-sm-10">
                    <textarea v-model="integralOrder.record" title="短信内容" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">图片内容</div>
                <div class="col-sm-10" v-for="(item,index) in imgs">
                    <img :src="item" class="img-responsive"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/integral/integralorder.js"></script>
</body>
</html>