<!DOCTYPE html>
<html>
<head>
    <title>积分兑换产品列表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <style>
        .ui-jqgrid-btable tr.jqgrow td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow : ellipsis;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="prodName" class="control-label">产品名称:</label>
                <input type="tel" id="prodName" class="form-control" v-model="q.prodDetailName"
                       @keyup.enter="query" placeholder="产品名称" autocomplete="tel-national">
            </div>
            <br>
            <div style="margin-top: 10px;margin-bottom: 10px">

                <a class="btn btn-default" @click="query">查询</a>
                <a class="btn btn-info" @click="reset">重置</a>
                <a v-if="hasPermission('producttype:save')" class="btn btn-primary" @click="add">
                    <i class="fa fa-plus"></i>&nbsp;新增</a>
                <a v-if="hasPermission('producttype:update')" class="btn btn-primary" @click="update">
                    <i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                <a v-if="hasPermission('producttype:delete')" class="btn btn-danger" @click="del">
                    <i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
        </form>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">产品名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productDetail.prodDetailName"
                           placeholder="产品名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品类型</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="productDetail.prodTypeId" >
                        <option value="" disabled>请选择</option>
                        <option v-for="option in productType" :value="option.id">
                            {{option.prodName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">产品积分数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productDetail.prodDetailValue"
                           placeholder="产品积分数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">快捷入口</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productDetail.prodDetailUrl"
                           placeholder="快捷入口"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">兑换次数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productDetail.prodDetailCount"
                           placeholder="兑换次数"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">回购价</div>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" v-model="productDetail.prodDetailBuyBack"-->
                           <!--placeholder="回购价"/>-->
                    <span style="margin-left: 10px">添加回购价</span>
                    <input type="button" class="btn btn-default" @click="addIndex"
                           value="+"/>
                    <table class="table table-striped">
                        <tr v-for="(item,index) in productDetail.params">
                            <td style="width: 22%">
                                <div class="form-group">
                                    <label for="level" class="col-sm-2 control-label"
                                           style="width: 100px">级别:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="level"
                                               v-model="productDetail.params[index].level"
                                               placeholder="级别"/>
                                        <input type="hidden" name="" v-model="productDetail.params[index].id" >
                                    </div>
                                </div>
                            </td>
                            <td style="width: 21%">
                                <div class="form-group">
                                    <label for="buyBackPrice" class="col-sm-2 control-label"
                                           style="width: 100px">回购价:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="buyBackPrice" class="form-control"
                                               v-model="productDetail.params[index].buyBackPrice"
                                               placeholder="回购价"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/integral/productdetail.js"></script>
</body>
</html>